<div class="row" *ngIf="member">
  <div class="col-4">
    <h1>Your profile</h1>
  </div>
  <div class="col-8">
    <div class="alert alert-info pb-0">
      <p>
        <strong>Information: </strong>You have made changes. Any unsaved changes
        will be lost
      </p>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <img
        src="{{ member.photoUrl || './assets/user.png' }}"
        alt="{{ member.knownAs }}"
        class="card-img-top img-thumbnail"
      />
      <div class="card-body">
        <div>
          <strong>Location:</strong>
          <p>{{ member.city }}, {{ member.country }}</p>
        </div>
        <div>
          <strong>Age:</strong>
          <p>{{ member.age }}</p>
        </div>
        <div>
          <strong>Last active:</strong>
          <p>{{ member.lastActive }}</p>
        </div>
        <div>
          <strong>Member since:</strong>
          <p>{{ member.created | date : "dd MMM yyyy" }}</p>
        </div>
      </div>
      <div class="card-footer">
        <button type="submit" form="editForm" class="btn btn-success col-12">
          Save changes
        </button>
      </div>
    </div>
  </div>
  
  <div class="col-8">
   
    <ul class="nav nav-tabs" id="member-tabset" role="tablist">
      <li class="nav-item" role="presentation">
        <button
          class="nav-link active"
          id="home-tab"
          data-bs-toggle="tab"
          data-bs-target="#home-tab-pane"
          type="button"
          role="tab"
          aria-controls="home-tab-pane"
          aria-selected="true"
        >
          About {{ member.knownAs }}
        </button>
      </li>

      <li class="nav-item" role="presentation">
        <button
          class="nav-link"
          id="contact-tab"
          data-bs-toggle="tab"
          data-bs-target="#contact-tab-pane"
          type="button"
          role="tab"
          aria-controls="contact-tab-pane"
          aria-selected="false"
        >
          Edit Photos
        </button>
      </li>
    </ul>
  
    <div class="tab-content" id="myTabContent">
 
      <div
        class="tab-pane fade show active"
        id="home-tab-pane"
        role="tabpanel"
        aria-labelledby="home-tab"
        tabindex="0"
      >
      <form #editForm="ngForm" id="editForm" (ngSubmit)="updateMember()">

      
        <div class="tab-content" id="myTabContent">
          <div
            class="tab-pane fade show active"
            id="description"
            role="tabpanel"
            aria-labelledby="description-tab"
            tabindex="0"
          >
            <h4 class="mt-2">Description</h4>
            <textarea
              class="form-control"
              [(ngModel)]="member.introduction"
              name="introduction"
              rows="6"
            ></textarea>
            <h4 class="mt-2">Looking for</h4>
            <textarea
              class="form-control"
              [(ngModel)]="member.lookingFor"
              name="lookingFor"
              rows="6"
            ></textarea>
            <h4 class="mt-2">Interests</h4>
            <textarea
              class="form-control"
              [(ngModel)]="member.interests"
              name="interests"
              rows="6"
            ></textarea>
            
              <div class="d-flex flex-row align-items-center">
                <label for="city">City: </label>
                <input type="text" [(ngModel)]="member.city" name="city" class="form-control mx-2" />
                <label for="country">Country: </label>
                <input type="text" [(ngModel)]="member.country" name="country" class="form-control mx-2" />
              </div>
         
          </div>
          
        </div>
      
       
          <button type="submit" form="editForm" class="btn btn-success col-12" aria-label="Save changes">
            Save changes
          </button>
       
      </form>
      
      

      </div>
      
      <div
        class="tab-pane fade"
        id="contact-tab-pane"
        role="tabpanel"
        aria-labelledby="contact-tab"
        tabindex="0"
      >
        <a class="nav-link">Photos</a>

      </div>
     
    </div>
  </div>
</div>
  