<form
  #registerForm="ngForm"
  (ngSubmit)="register()"
  class="form-register"
  autocomplete="off"
>
  <h2 class="h3 mb-3 fw-normal">Sign Up</h2>
  <hr />
  <div class="mb-3">
    <input
      type="text"
      class="form-control"
      name="username"
      [(ngModel)]="model.username"
      placeholder="Username"
    />
  </div>

  <div class="mb-3">
    <input
      type="password"
      class="form-control"
      name="password"
      [(ngModel)]="model.password"
      placeholder="Password"
    />
  </div>
  <div class="task-center">
    <button class="w-100 btn btn-lg btn-dark me-2" type="submit">
      Register
    </button>
    <button
      class="w-100 btn btn-lg btn-dark me-2"
      type="button"
      (click)="cancel()"
    >
      Cancel
    </button>
  </div>
</form>
